.goods_cover {
    width: 100%;
    height: 233px;
    text-align: center;
}
.goods_cover img{
    width: auto;
    height: 100%;
}

.goods_thumbnail{
    display: inline-block;
    height: 60px;
}

.goods_thumbnail img{
    width: auto;
    height: 100%;
}