{% extends 'base.html' %}

{% block title %} Account {% endblock %}


{% block content %}
<div class="container">
    <h3>Account</h3>
    <div class="my-3">
        Name: {{ session.name }}
    </div>
    <div class="my-3">
        Email: {{ session.email }}
    </div>
    <div class="my-3">
        <a href="{{ url_for('order_list') }}">View Orders</a>
        <a href="{{ url_for('address_list') }}" class="ml-3">View Address</a>
    </div>
</div>
{% endblock %}

