{% extends 'base.html' %}

{% block title %} Shopping Cart {% endblock %}


{% block content %}
<div class="container">
        <div class="card my-3">
            <div class="card-body">
    <div class="d-flex my-3 align-items-center justify-content-center">
                <a href="{{ url_for('show_goods', goods_id = goods.id) }}">
                        <div class="goods_thumbnail mr-3">
                            <img src="{{ url_for('static', filename='goods_cover/'+goods.cover) }}" class="card-img-top" alt="{{goods.name}}">
                        </div>
                    </a>
                    <strong class="text-success text-bold">Added to Cart</strong>
                    <div class="my-3 ml-3">
                        <a href="{{ url_for('cart') }}" >Cart<strong class="text-warning">({{ session.cart | length }})</strong></a>
                        <a href="{{ url_for('checkout') }}" class="ml-3">Checkout</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

