{% extends 'base.html' %}

{% block title %} Checkout {% endblock %}


{% block content %}
<div class="container">
    {% if is_new %}
    <h3 class="my-3">Add a new address</h3>
    {% else %}
    <h3 class="my-3">Please update the shipping address.</h3>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                {{ form.full_name.label }}
                {% if form.full_name.errors %}
                {{ form.full_name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.full_name.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.full_name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-6">
                {{ form.phone_number.label }}
                {% if form.phone_number.errors %}
                {{ form.zip(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.phone_number.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.phone_number(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-6">
                {{ form.address_line_1.label }}
                {% if form.address_line_1.errors %}
                {{ form.address_line_1(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.address_line_1.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.address_line_1(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-6">
                {{ form.address_line_2.label }}
                {% if form.address_line_2.errors %}
                {{ form.address_line_2(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.address_line_2.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.address_line_2(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-4">
                {{ form.city.label }}
                {% if form.city.errors %}
                {{ form.city(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.city.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.city(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-4">
                {{ form.region.label }}
                {% if form.region.errors %}
                {{ form.region(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.region.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.region(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-4">
                {{ form.zip.label }}
                {% if form.zip.errors %}
                {{ form.zip(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.zip.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.zip(class="form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="my-3">
            <button class="btn btn-primary">Ok</button>
        </div>
    </form>
</div>
{% endblock %}

