{% extends 'base.html' %}

{% block title %} Address List {% endblock %}


{% block content %}
<div class="container">
    <h3 class="my-3">Address List
    </h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="my-3">
        <a href="{{ url_for('address_form') }}" class="btn btn-sm btn-primary">Add Address</a>
    </div>
    <div class="row">
    {% for address in address_list %}
      <div class="col-sm-12 col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <div>{{ address.address_line_1 }}</div>
                <div>{{ address.address_line_2 }}</div>
                <div>{{ address.city }}, {{address.region}} {{address.zip}}</div>
                <div>Phone: {{ address.phone_number }}</div>
                <a class="card-link" href="{{ url_for('address_form', address_id=address.id) }}">Edit</a>
                <a class="card-link" href="{{ url_for('address_delete', address_id=address.id) }}">Delete</a>
            </div>
        </div>
      </div>
    {% else %}
        <div class="col-sm-12 text-center py-3">
            Your address list is empty.
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

