<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cart') }}">Cart <strong class="text-warning">({{ session.cart | length }})</strong></a>
              </li>
            </ul>
              <ul class="navbar-nav">
                  {% if session.id %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account') }}">Your Account</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('order_list') }}">Your Order</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('address_list') }}">Your Address</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('review_list') }}">Your Reviews</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</span></a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</span></a>
                  </li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>


    {% block content %}

    {% endblock %}

    <footer class="bg-light text-muted">
      <div class="container-fluid text-center py-3">
        Footer
      </div>
    </footer>

    <script src="{{ url_for('static', filename='assets/jquery3.4.1/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>