{% extends 'base.html' %}

{% block title %} Shopping Cart {% endblock %}


{% block content %}
<div class="container">
    <h3 class="my-3">
        Shopping Cart
    </h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="table-responsive">
        <table class="table my-3">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th style="w-50">Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for goods in cart %}
                    <tr>
                        <td class="align-middle">
                            <a href="{{ url_for('show_goods', goods_id=goods.id) }}">
                                <div class="goods_thumbnail mr-3">
                                    <img src="{{ url_for('static', filename='goods_cover/'+goods.cover) }}" class="card-img-top" alt="{{goods.name}}">
                                </div>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{{ url_for('show_goods', goods_id=goods.id) }}">{{goods.name}}</a>
                            <div>
                                <form action="{{ url_for('delete_goods') }}" method="post">
                                    <input type="hidden" value="{{goods.id}}" name="goods_id">
                                    <button type="submit" class="btn btn-sm btn-link">delete</button>
                                </form>
                            </div>
                        </td>
                        <td class="align-middle">
                            {{ goods.quantity }}
                        </td>
                        <td class="align-middle">
                            <strong class="text-warning">￡{{ goods.price }}</strong>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Your Shopping Cart is empty.</td>
                    </tr>
                {% endfor %}
                {% if total_goods > 0 %}
                    <tr>
                        <td colspan="2">Subtotal</td>
                        <td>{{total_quantity}}</td>
                        <td><strong class="text-warning">￡{{total_price}}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">
                            <a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">Checkout</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

