{% extends 'base.html' %}

{% block title %} Checkout {% endblock %}


{% block content %}
<div class="container">
    <h3 class="my-3">Checkout</h3>
    {% if total_goods > 0 %}
    <form method="post">
        {{ form.csrf_token }}
        <h4>Address</h4>
        <div class="row">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="col-sm-12 mb-3 text-success">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% for address in address_list %}
            <div class=" col-sm-12 col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="addressid" id="address{{loop.index}}" value="{{address.id}}" {% if loop.first %}checked{% endif %}>
                  <label class="form-check-label d-block" for="address{{loop.index}}">
                   <div class="card mb-3">
                    <div class="card-body">
                        <div>{{ address.address_line_1 }}</div>
                        <div>{{ address.address_line_2 }}</div>
                        <div>{{ address.city }}, {{address.region}} {{address.zip}}</div>
                        <div>Phone: {{ address.phone_number }}</div>
                    </div>
                   </div>
                  </label>
                </div>
            </div>
            {% if loop.last %}
              <div class="col-sm-12 py-3">
                <a href="{{ url_for('address_form', next=request.path) }}">Add a new address</a>.
              </div>
            {% endif %}
        {% else %}
            <div class="col-sm-12 text-center py-3">
                Your address list is empty, Please add a new address first, <a href="{{ url_for('address_form', next=request.path) }}">Add a address</a>.
            </div>
        {% endfor %}
        </div>
        <h4>Credit Card</h4>
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                {{ form.name_on_card.label }}
                {% if form.name_on_card.errors %}
                {{ form.name_on_card(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.name_on_card.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.name_on_card(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-4">
                {{ form.card_number.label }}
                {% if form.card_number.errors %}
                {{ form.card_number(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.card_number.errors.0 | safe }}
                </div>
                {% else %}
                {{ form.card_number(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label>Expiration date</label>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.expiration_date_month }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.expiration_date_year }}
                    </div>
                </div>
            </div>
        </div>
        <h4>Goods List</h4>
        {% for goods in cart%}
        <div class="my-3">
            <h6>{{loop.index}}: <a href="{{ url_for('show_goods', goods_id=goods.id) }}">{{goods.name}}</a></h6>
            <div>
                Price: <strong class="text-warning">${{goods.price}}</strong>
                Quantity: <strong>{{goods.quantity}}</strong>
            </div>
        </div>
        {% endfor %}
        <div>Total Price: <strong class="text-warning">${{total_price}}</strong></div>
        <div class="my-3">
            <button class="btn btn-primary">Ok</button>
        </div>
    </form>
    {% else %}
        <div class="text-center py-3">
            Your Shopping Cart is empty.
        </div>
    {% endif %}
</div>
{% endblock %}

