{% extends 'base.html' %}

{% block title %} Checkout Result {% endblock %}


{% block content %}
<div class="container">
    <div class="text-center py-5">
        Checkout Successful, You can query your order in <a href="{{ url_for('order_list') }}">here</a>.
    </div>
</div>
{% endblock %}

