{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="goods_cover">
               <img src="{{ url_for('static', filename='goods_cover/'+goods.cover) }}" class="card-img-top" alt="{{goods.name}}">
            </div>
        </div>
        <div class="col-sm-12">
            <h3>{{goods.name}}</h3>
            <div class="mt-3">Price: <strong class="text-warning">￡{{goods.price}}</strong>
            </div>
            <form class="mt-3" action="{{ url_for('add_goods', goods_id=goods.id) }}", method="post">
<!--                    <input type="hidden" value="{{goods.id}}" name="goods_id">-->
                 <button class="btn btn-primary btn-sm">Add To Cart</button>
            </form>
        </div>
        <div class="col-sm-12 mt-3">
            <p>Detail:</p>
            {{ goods.detail }}
        </div>
        <div class="col-sm-12 mt-3">
            <h5>Reviews({{reviews | length}})</h5>
            {% for review in reviews %}
                <div class="mb-3">
                    <h6>#{{loop.index}}  {{review.user}} <span class="text-muted">{{review.create_time}}</span></h6>
                    <div>
                        {{ review.content }}
                    </div>
                </div>
            {% else %}
            <div class="py-3 text-center">
                No reviews
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 mt-3">
            <h5>Review this goods</h5>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="{{ category }} my-3">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% if session.id %}
                <div class="">
                    <form action="{{ url_for('add_review', next=request.path) }}" method="post">
                        <input type="hidden" name="goodsid" value="{{ goods.id }}">
                        <div class="form-group">
                             <textarea class="form-control" name="content" id="" cols="30" rows="4"></textarea>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            {% else %}
                <div class="py-3 text-center">
                     If you want to write a review, please <a href="{{ url_for('login', next=request.path) }}">login</a>.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

