{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
<div class="container">
    <div class="row my-3 justify-content-between">
        <div class="col-sm-12 col-md-4">
            Total goods: {{ total_goods }}
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-end">
            <form class="form-inline" method="get">
                <div class="form-group">
                    <input class="form-control form-control-sm" type="search" name="q" value="{{q}}">
                    <button type="submit" class="btn btn-primary btn-sm ml-2">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-3">
        {% for goods in goods_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="goods_cover">
                    <img src="{{ url_for('static', filename='goods_cover/'+goods.cover) }}" class="card-img-top" alt="{{goods.name}}">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{goods.name}}</h5>
                    <p class="card-text text-warning"><strong>￡{{goods.price}}</strong></p>
                </div>
                <a href="{{ url_for('show_goods', goods_id=goods.id) }}" class="stretched-link"></a>
            </div>
        </div>
        {% if loop.last and total_page > 1 %}
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  <li class="page-item {%if  current_page == 1%}disabled{%endif%}">
                      <a class="page-link" href="{%if  current_page == 1%}#{%else%}{{ url_for('home', q=q, page=current_page-1) }}{%endif%}" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  {% for page in range(1, total_page + 1) %}
                    {% if current_page == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('home', q=q, page=page) }}">{{ page }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <li class="page-item {%if  current_page == total_page%}disabled{%endif%}">
                      <a class="page-link" href="{%if  current_page == total_page%}#{%else%}{{ url_for('home', q=q, page=current_page+1) }}{%endif%}" tabindex="-1" aria-disabled="true">Next</a>
                  </li>
              </ul>
            </nav>
        </div>
        {% endif %}
        {% else %}
            <div class="col-sm-12">
                <div class="text-center py-3">
                    No results for {{q}}.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

