{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Login</h3>
    <div class="row my-3">
        {% if error %}
            <div class="col-sm-12">
                <div class="py-2 text-danger text-center">
                    {{error}}
                </div>
            </div>
        {% endif %}
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <form method="post">
                {{ form.csrf_token }}
              <div class="form-group">
                  {{ form.name.label }}
                  {% if form.name.errors %}
                      {{ form.name(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {{ form.name.errors.0 | safe }}
                      </div>
                  {% else %}
                      {{ form.name(class="form-control") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.password.label }}
                  {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                       <div class="invalid-feedback">
                          {{ form.password.errors.0 | safe }}
                       </div>
                  {% else %}
                      {{ form.password }}
                  {% endif %}
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

