{% extends 'base.html' %}

{% block title %} Order List {% endblock %}


{% block content %}
<div class="container">
    <h3 class="my-3">Order List</h3>
    <div class="row">
        {% for order in order_list %}
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ loop.index }}:
                        Total Price: <strong class="text-warning">￡{{order.total_price}}</strong>
                        <span class="float-right">Create Date: {{ order.create_date }}</span>
                    </div>
                    <div class="card-body">
                        <h6>Goods List</h6>
                        {% for goods in order.goods_list %}
                            <div>{{loop.index}}: <a href="{{ url_for('show_goods', goods_id=goods.goodsid) }}">{{goods.name}}</a></div>
                            <div>
                                Price: <strong class="text-warning">￡{{goods.price}}</strong>
                                Quantity: <strong>{{goods.quantity}}</strong>
                            </div>
                        {% endfor %}
                        <h6 class="my-3">Shipping address</h6>
                        {% with address = order.address %}
                            <div>{{ address.address_line_1 }}</div>
                            <div>{{ address.address_line_2 }}</div>
                            <div>{{ address.city }}, {{address.region}} {{address.zip}}</div>
                            <div>Phone: {{ address.phone_number }}</div>
                        {% endwith %}
                        <h6 class="my-3">Credit card</h6>
                        <div>
                            <div>Name on card: {{ order.name_on_card }}</div>
                            <div>Card Number: {{ order.card_number }}</div>
                            <div>Expiration date: {{ order.expiration_date_month }}/{{ order.expiration_date_year }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12 text-center py-3">
                You have not placed any orders.
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

