{% extends 'base.html' %}

{% block title %} Register {% endblock %}


{% block content %}
<div class="container">
    <h3 class="text-center my-3">Register</h3>
    <div class="row my-3">
        {% if register_success %}
           <div class="col-sm-12 py-3 text-center text-success">
               Register Success, <a href="/login">log in</a>
           </div>
        {% else %}
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <form method="post" action="{{url_for('register')}}">
                {{ form.csrf_token }}
              <div class="form-group">
                  {{ form.name.label }}
                  {% if form.name.errors %}
                      {{ form.name(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {{ form.name.errors.0 | safe }}
                      </div>
                  {% else %}
                      {{ form.name(class="form-control") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.email.label }}
                  {% if form.email.errors %}
                       {{ form.email(class="form-control is-invalid") }}
                       <div class="invalid-feedback">
                          {{ form.email.errors.0 | safe }}
                       </div>
                  {% else %}
                      {{ form.email }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.password.label }}
                  {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                       <div class="invalid-feedback">
                          {{ form.password.errors.0 | safe }}
                       </div>
                  {% else %}
                      {{ form.password }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.password_confirm.label }}
                  {% if form.password_confirm.errors %}
                      {{ form.password_confirm(class="form-control is-invalid") }}
                       <div class="invalid-feedback">
                          {{ form.password_confirm.errors.0 | safe }}
                      </div>
                  {% else %}
                      {{ form.password_confirm }}
                  {% endif %}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

