{% extends 'base.html' %}

{% block title %} Address List {% endblock %}


{% block content %}
<div class="container">
    <h3 class="my-3">Review List ({{ review_list | length }})
    </h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-success my-3">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
    {% for review in review_list %}
      <div class="col-sm-12 mb-3">
          <h6>#{{ loop.index }}</h6>
          <div>Date: {{ review.create_time }}</div>
          <div>Goods: <a href="{{ url_for('show_goods', goods_id=review.goodsid) }}">{{ review.goodsname }}</a></div>
          <div>Content: {{ review.content }}</div>
          <div><a href="{{ url_for('delete_review', review_id=review.id) }}">delete</a></div>
      </div>
    {% else %}
        <div class="col-sm-12 text-center py-3">
            No reviews.
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

